.title{
  margin-top: 10px;
}

.searchbox{
  margin: 15%;
  margin-bottom: 10%;
}

.wrap{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 700px;
  height: auto;
  margin: auto;
}